<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Empora</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WorksAway.styles.css" asp-append-version="true" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Abril+Fatface&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm custom-navbar">
            <div class="container-fluid">
                <!-- Left Side: Empora Logo -->
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index" style="font-family: 'Abril Fatface'; font-size: 2rem; color: black;">Empora</a>
                
                <!-- Toggler for mobile view -->
                <button class="navbar-toggler custom-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <!-- Right Side: Navigation Links -->
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end ml-auto">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" asp-area="" asp-controller="Account" asp-action="Login" style = "color:#2d4c39">Log In</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" asp-area="" asp-controller="Home" asp-action="AboutUs" style = "color:#2d4c39">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link custom-nav-link" asp-area="" asp-controller="Home" asp-action="FAQ" style = "color:#2d4c39">FAQ</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer custom-footer">
        <div class="container">
            &copy; 2024 - Empora
        </div>
    </footer>
    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>